{{ define "head" }}
{{ end }}

{{ define "main" }}
    <div id="gallery" class="text-small">
        <div id="home-content" class="container">
            <h1 class="text-big">Exhibits</h1>
            {{- range .Data.Pages.GroupByDate "2006" }}
            <div class="row posts-group">
                {{- range .Pages }}
                <div class="col-sm-6 post-item">
                    {{ if .Params.link }}
                        <a class="single-link" style="background-image: url({{ .Params.image }})" 
                            href="{{.Params.link}}">
                            <span class="post-title">{{ .Title }} →</span>
                            <div class="single-link-overlay">
                            </div>
                        </a> 
                    {{ else }}
                        <a class="single-link" style="background-image: url({{ .Params.image }})" 
                            href="{{.Permalink}}">
                            <span class="post-title">{{ .Title }} →</span>
                            
                            <div class="single-link-overlay">
                                {{ with .Params.teaser }}
                                    <p class="text-small">{{ . | markdownify }}</p>
                                {{ end }}
                            </div>
                        </a>
                        <!-- <a class="single-link single-link-overlay" href="{{.Permalink}}" target="_blank">

                        </a> -->
                    {{ end }}
                </div>
                {{- end }}
            </div>
            {{- end }}
        </div>
        {{ partial "footer"}}
    </div>
    <div id="overlay" class="overlay"></div>
{{ end }}